body
{
    background-image: url("./assets/pictures/redcloud.jpg");
    background-size: 1300px 700px;
    background-repeat: no-repeat;
}

.jumbotron
{
    background-image: url("./assets/pictures/weather.png");
    width: auto;
    height: 200px;
}

.searchHistory
{
    width: 250px;
    margin-right: 50px;
}
.search
{
    width: 100px;
    margin-right: 50px;
}
.form-control
{
    width: 200px;
    margin-left: 30px;
    display: inline;
}
.btn-city
{
    border: solid;
    height: 45px;
    color: white;
}
#info
{
    display: inline;
}
.row
{
    display: inline;
}
.card-group
{
    height: 100px;
    width: 500px;
}
.card-body
{
    background-color: lightblue;
}
.searchHistory
{
    color: white;
}